@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <div class="about">
        <div class="about__nav">
            Information about us.
        </div>
        <div class="about__content">
        </div>
    </div>
</main>