@{
    ViewBag.Title = "Main";
}
<main aria-labelledby="title">
    <div class="file">
        <div class="file__title">
            File upload
        </div>
        <div class="file__input">
            <label class="butn butn-default">
                Browse <input id="file_input" onchange="checkType()" type="file" style="display: none;" runat="server" required>
            </label>
            <button class="butn butn-primary" id="submit_btn" onclick="open_modal();" style="display:none;">
                Submit
            </button>
            <div class="file__name" id="name">
            </div>
        </div>
        <div class="file__input-state file-true" id="valid">
            <i class="fa-regular fa-circle-check"></i>
            <span>
                Valid file format. Click submit to get the result.
            </span>
        </div>
        <div class="file__input-state file-false" id="invalid">
            <i class="fa-regular fa-circle-xmark"></i>
            <span id="invalid-text">
                The file format is invalid. Please upload another file.
            </span>
        </div>
        <div id="test">

        </div>
    </div>
    <script>
        document.getElementById('valid').style.display = "none";
        document.getElementById('invalid').style.display = "none";
        function typeError(type) {
            if (type[0] === "txt") {
                return true
            } else return false;
        }


        // Sleep function
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }


        function checkType() {
            var t = document.getElementById("file_input").value.split('.');
            var file_name = document.getElementById("file_input").value.split("\\");
            document.getElementById('name').style.display = "inline-flex";
            document.getElementById('name').innerHTML = file_name.slice(-1);
            if (typeError(t.slice(-1))) {
                if (document.getElementById('valid').style.display === "none") {
                    document.getElementById('valid').style.display = "flex";
                    document.getElementById('submit_btn').style.display = "flex";
                }
                if (document.getElementById('invalid').style.display != "none") {
                    document.getElementById('invalid').style.display = "none";
                }
            } else {
                if (document.getElementById('invalid').style.display === "none") {
                    document.getElementById('invalid').style.display = "flex";
                    document.getElementById('submit_btn').style.display = "none";

                }
                if (document.getElementById('valid').style.display != "none") {
                    document.getElementById('valid').style.display = "none";
                }
            };
        }
        function open_modal() {
            document.getElementById("confirm_modal").style.display = "flex";
        }
        function close_modal() {
            document.getElementById("confirm_modal").style.display = "none";
        }
        function submit() {
            document.getElementById("waiting").style.display = "inline-block";
            setTimeout(() => {
                document.getElementById("btn_overlay").style.display = "none";
            }, 2000);
        }
    </script>
    <div class="file">
        <div class="file__title">
            Output
        </div>
        <div class="file__content">
            No file chosen, yet. Attach and submit your file to see the result.
        </div>
    </div>
    <div class="modal" id="confirm_modal" style="display:none;">
        <div class="modal__overlay">
        </div>
        <div class="modal__body">
            <div class="modal__title">
                Click confirm to process and display the data
            </div>
            <div class="modal__icon">
                <i class="fa-solid fa-circle-up"></i>
            </div>
            <div class="modal__btn-group">
                <button class="butn butn-default modal__btn" onclick="close_modal();">
                    CANCEL
                </button>
                <button class="butn butn-primary modal__btn" style="position: relative;" onclick="submit()">
                    <div class="butn butn-primary modal__btn btn__overlay" id="btn_overlay">
                        <div class="spinner-border" role="status" style="font-weight:500; display:none;" id="waiting">
                            <span class="sr-only"></span>
                        </div>
                        SUBMIT
                    </div>
                    @Html.ActionLink("VIEW", "Output", "Home", new { area = "" }, new { @class = "nav-link" })
                </button>
            </div>
        </div>
    </div>
</main>